@media screen and (max-width: 768px) {
  .main_image {
    background: url(images/main_image.webp) no-repeat center;
    height: 500px;
    position: relative;
  }

  .main_image_contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
  }
  .contents_inner {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .contents_inner li {
    text-align: center;
    width: 30%;
  }

  .last_contents {
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: auto;
    margin: 0 auto;
    padding: 40px 0;
    border-bottom: 1px solid #f1f1f1;
  }

  .footer_contents {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
    padding: 40px 0;
  }
}

@media screen and (max-width: 480px) {
  header {
    display: block;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .header_left {
    justify-content: space-between;
  }
  .header_left .fab {
    margin: 0 18px;
    color: palevioletred;
  }

  .header_left input {
    width: 250px;
  }

  .right_menu {
    justify-content: space-between;
    margin-top: 10px;
  }

  .right_menu li a {
    padding-right: 0;
  }

  .main_image_contents {
    width: 100%;
  }

  .contents_inner {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
  }

  .contents_inner li {
    text-align: center;
    width: 60%;
    margin: 0 auto 40px auto;
  }

  .last_contents {
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    border-bottom: 1px solid #f1f1f1;
  }

  .last_columm_contents1 {
    display: inline-block;
    width: 100%;
  }

  .last_columm_contents1 ul {
    width: 100%;
    margin-bottom: 50px;
    line-height: 30px;
  }

  .last_columm_contents2 ul {
    line-height: 30px;
  }

  .footer_contents {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
  }

  .last_left {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
  }

  .last_left .fab {
    margin-bottom: 10px;
  }

  .last_right {
    text-align: center;
  }
}
